<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrainTrack</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>TrainTrack</h1>

    <h2>Upcoming Trainings:</h2>
    <ul>
        {% for training in trainings %}
            <li>
                {{ training.name }}: {{ training.date.strftime('%Y-%m-%d, %H:%M') }}
                <form method="POST" action="{{ url_for('delete_training', index=loop.index0) }}"
                      style="display:inline;">
                    <button type="submit" style="margin-left: 10px; color: red;">Delete</button>
                </form>

                <a href="{{ url_for('edit_training', index=loop.index0) }}">
                    <button type="button" style="margin-left: 10px; color: blue;">Edit</button>
                </a>
            </li>
        {% else %}
            <li>No Upcoming Trainings.</li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('add_training') }}">Add New Training</a>
</body>
</html>